.featurecontainer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
body{
    overflow-x: hidden;
}

/* .hometitle{
    position: absolute;
    left: 10px;
} */